<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zys.baselibrary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application>

        <meta-data
                android:name="com.zys.baselibrary.imageloader.BaseGlideModule"
                android:value="GlideModule"/>

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <meta-data
                android:name="design_width_in_dp"
                android:value="375"/>
        <meta-data
                android:name="design_height_in_dp"
                android:value="667"/>

    </application>
    <!--支付宝-->

</manifest>
